<% unless user_signed_in? %>
	<div class=" center hero-unit">
	<h1>Welcome to Sole Closet!</h1>

	<p>
		Connect, share, and <%= link_to "sell", "#"%> shoes
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
	
</div>
<% end %>
