<div class="hero-unit">
	
	<h1>Welcome to Sole Closet</h1>
	<p>
		Connect, share, and <%= link_to "sell", "www.craigslist.com"%> shoes
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
